csv,time
./01_HoritaniMasaki/ZOOPREP_230208_MasakiHoritani_BL45XU_zoo.csv,3s
./02_NishiyamaKotaro/ZOOPREP_230206_KotaroNishiyama_BL45XU_zoo.csv,3.5h
./03_NaokiSakai/ZOOPREP_230211_NaokiSakai_BL45XU_zoo.csv , 2h
./04_NaokiSakai/ZOOPREP_230212_NaokiSakai_BL45XU_zoo.csv,3.5h
./cane2/ZOOPREP_230213_PuckExTest_zoo_cane2.csv,4.0s
./cane3/ZOOPREP_230213_PuckExTest_zoo_cane3.csv,2sh
./cane4/ZOOPREP_230213_PuckExTest_zoo_cane4.csv,3.5h
./cane5/ZOOPREP_230213_PuckExTest_zoo_cane5.csv,3.5h
./cane6/ZOOPREP_230213_PuckExTest_zoo_cane6.cs,30m
